@import './custom-bootstrap';

img {
  width: 100%;
  height: auto;
}

.card {
  margin-top: $grid-gutter-width * 0.5;
  margin-bottom: $grid-gutter-width * 0.5;
}

#infos {
  display: block;
  margin-top: 1em;
}

.modal-img {
  width: 100%;
  height: auto;
}

.shop- {
  &carousel {
    height: 50vh;
    min-height: 200px;

    .carousel-indicators li {
      border-radius: $carousel-indicator-width;
    }

    &-description {
      padding: $grid-gutter-width * 0.5;
    }
    &-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
