@import './custom-bootstrap';

img {
  width: 100%;
  height: auto;
}

#infos{
  padding-left: $grid-gutter-width * 0.5;
}
.card {
  margin-bottom: $grid-gutter-width * 0.5;
  &-img-top {
    border: none;
    height: 250px;
  }
}

.modal {
  &-price {
    padding: 0 15px;
    font-weight: bold;
  }
  &-img {
    box-shadow: 0px 1px #888888;
  }
}

#infos {
  display: block;
  margin-top: 1em;
}


.shop- {
  &carousel {
    height: 50vh;
    min-height: 200px;

    .carousel-indicators li {
      border-radius: $carousel-indicator-width;
    }

    &-description {
      padding: $grid-gutter-width * 0.5;
    }
    &-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
